
/* -------------------------------------------------------------- 
  
   Reset default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Launchpad for Drupal by iPublicis.com from */
/* Launchpad for Wordpress by ThemeShaper.com */

body { 
  line-height: 1.5; 
  background: #fff; 
  margin:0; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/* -------------------------------------------------------------- 
  
   Structure   
   
-------------------------------------------------------------- */

body {
	background:#000;
	color:#FFF;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: table;
}
a {
	text-decoration:none;
}
em {
	font-style:italic;
}
strong {
	font-weight:bold;
}
#wrapper {
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}
#main {
	width:600px;
	margin:0 auto 24px auto;
	font:18px/24px Georgia, serif;
}
h1 {
	font:30px/36px Verdana, sans-serif;
	font-weight:bold;
}
h1 span {
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:1px;
}
#options-wrap {
	background:#ED8133 url(../images/bar.gif) repeat-x top;
	width:100%;
	float:left;
	margin:0 0 24px 0;
	border-top:2px solid #FE8F45;
	border-bottom:2px solid #B54901;
}
#subscribe-options {
	width:960px;
	margin:0 auto;
	padding:18px 0;
	font-family:Verdana, sans-serif;
	color:#000;
	font-size:12px;
	overflow:hidden;
}
#subscribe-options a {
	color:#000;
}
.rss-subscribe {
	display:inline;
	padding:36px 0;
	margin:0 10px 0 0;
}
.rss-subscribe img {
	vertical-align:middle;
}
form {
	display:inline;
	border-left:1px solid #B54901;
	padding:36px 0;
}
form p, form input {
	display:inline;
}
.form-label {
	border-left:1px solid #FE8F45;
	padding:36px 10px;
}
#submit {
	vertical-align:middle;
}
#page-info {
	clear:both;
	width:960px;
	margin:0 auto;
	font-family:Verdana, sans-serif;
	font-size:10px;
	color:#CCC;
}
#page-info a {
	color:#CCC;
	font-style:italic;
}
#page-info a:hover {
	color:#FFF;
}

/* -------------------------------------------------------------- 
  
   Messages   
   
-------------------------------------------------------------- */

#topinfo {
	clear: both;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	vertical-align: middle;
	font-family: Verdana, sans-serif;
	font-size: 28px;
	border: 2px solid #E1471D;
}

div.status {
	background:url(../images/icon-info.png) .5em 50% no-repeat;
	color:#000;
}

div.error {
	background:#FCD295 url(../images/icon-alert.png) .5em 50% no-repeat;
	color:#E1471D;
}

div.error ul li,div.status ul li {
	list-style-image:none;
	list-style-type:square;
}
